.Open{
    display:fixed;
    z-index:700;
    background-color:rgb(128, 0, 0);
    min-height: 100vh;
}
.Close{
    display:none;
}
@media (min-width:500px) {
    .Open{
        display:fixed;
        z-index:700;
        background-color:rgb(128, 0, 0); 
    }
}